/* overrides mui styles */

.MuiOutlinedInput-inputMultiline {
    padding: 0 !important;
}

.MuiCollapse-container {
    transition-duration:0s !important
}

.calendarioOculto .MuiIconButton-root {
   display: none !important
}

.calendarioOculto .MuiFormHelperText-root.Mui-error {
    display: none !important
}